* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

.App {
    width: 300px;
}

.header {
    height: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
    font-size: 1.6rem;
    font-weight: bold;
    background-color: #03C75A;
}

.body {
    overflow: hidden;
}

[class*='-page'] {
    height: 100px;
    width: 280px;

    padding: 10px;
}

.main-page {
}

.config-page {
    position: fixed;
    top: 40px;
    left: calc(300px + 300px);
    transition: all 0.1s;
}

.active {
    left: 0;
}

.option {
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 1.2rem;
}

.config-action {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
}

.config-action button {
    height: 24px;
    width: 100px;

    border: none;
}
.action-cancle {
    background-color: #D8D8D8;
}
.action-apply {
    background-color: #03C75A;
}

.icon {
    display: flex;
    gap: 8px;
}
.icon img {
    height: 20px;
    width: 20px;
    display: block;
}